/*
 * @Description: 
 * @Author: jiannan.lv
 * @Date: 2019-06-27 13:47:09
 * @LastEditTime: 2019-07-08 17:57:25
 * @LastEditors: jiannan.lv
 */
.draw-region {
  height: 100%;
  overflow: auto;
  position: relative;
  width: 100%;
  .draw-region-content {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}